.cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.cell, .cell * {
    cursor: move;
}

.cell.BLOCKED {
    cursor: not-allowed;
}

.cell.BLACK {
    background-color: black;
}

.cell.AVAILABLE {
    background-color: greenyellow;
}

.cell.PAWN_OPPONENT {
    background-color: brown;
}
